body{
background-image:url("BASDEI.jpeg");
background-repeat: no-repeat;
background-size: cover;
margin:0;
padding:0;
}
.main{
background:rgba(0,0,0,0.65);
height:100%;
width:100%;
display:flex;
flex-direction:column;
}

.logo1{
height:130px;
width:100px;
margin:8px 0 0 8px;
border-radius:10px;
}

.logo1 > img{
height:130px;
width:100px;
border-radius:10px;
}
.logo2{
height:130px;
width:100px;
margin:8px 0 0 8px;
border-radius:10px;
}
.logo2 >img{
height:130px;
width:100px;
border-radius:10px;
}


.title{
color:red;
height:fit-content;
width:fit-content;
background:white;
padding:10px;
margin:0;
border-radius:10px;
}

.nav{
display:flex;
width:100%;
height:fit-content;
justify-content:space-between;
align-items:center;
}

.gallery{
display:flex;
justify-content: space-between;
margin:auto 0;
}

.pic{
display:flex;
flex-direction:column;
justify-content: center:
align-items: center;
width:400px;
color:white;
border:solid  #FF8000 8px;
font-family:cursive;
}

.pic > img{
width:400px;
border:solid  #FF8000 4px;
}



